<ion-content class="login-container" fullscreen>

  <div class="content-box">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="Hotel Logo" class="hotel-logo">
    </div>

    <ion-text class="welcome-text">
      <h1>Bienvenido a <br> Pacific Reef Hotel</h1>
    </ion-text>

    <div class="button-container">
      <ion-button expand="block" color="primary" class="login-button" routerLink="/login">
        Iniciar Sesión
      </ion-button>

      <ion-button expand="block" fill="outline" color="light" class="register-button" routerLink="/register">
        Registrarse
      </ion-button>
    </div>
  </div>

</ion-content>
