<ion-header>
  <ion-button class="back-button" fill="clear" (click)="goBack()">
    <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
    Volver
  </ion-button>
</ion-header>

<ion-content class="login-container" fullscreen>
  <div class="overlay"></div> <!-- Superposición para el fondo -->

  <div class="content-wrapper">
    <div class="logo-container">
      <img src="assets/img/logohotel.png" alt="Hotel Logo" class="hotel-logo">
    </div>

    <ion-card class="login-card">
      <ion-card-content>
        <ion-text class="welcome-text">
          <h1>Bienvenido</h1>
          <p>Ingrese sus datos para acceder</p>
        </ion-text>

        <form (ngSubmit)="login()"> <!-- Captura de datos del formulario -->
          <ion-item class="input-item">
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="user" name="user" required></ion-input>
          </ion-item>

          <ion-item class="input-item">
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>

          <!-- Mostrar mensaje de error si las credenciales son incorrectas -->
          <ion-note color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-note>

          <div class="button-container">
            <ion-button expand="block" class="login-button" type="submit">
              Ingresar
            </ion-button>
          </div>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer style="background-color: #273746">
  <ion-toolbar>
    <ion-title style="background-color: #273746">© 2024 Grupo3 DUOC-UC</ion-title>
  </ion-toolbar>
</ion-footer>
