/* Contenedor principal para la página de inicio de sesión */
ion-content.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Capa de superposición oscura */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Contenedor del contenido principal */
.content-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

/* Contenedor del logo */
.logo-container {
  margin-bottom: 10px;
}

/* Estilo del logo */
.hotel-logo {
  width: 400px;
  height: auto;
  margin-top: 50px;
}

/* Estilo del título de bienvenida */
.welcome-text h1 {
  font-size: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
}

/* Estilo de la tarjeta de inicio de sesión */
.login-card {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

/* Espaciado antes del botón */
.button-container {
  margin-top: 25px;
}

/* Estilo del botón de inicio de sesión */
.login-button {
  --background: #ffd700;
  --background-hover: #ffc700;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  height: 55px;
  font-size: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Estilo de las etiquetas de entrada */
ion-label {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  display: block;
}

/* Estilo de los campos de entrada */
ion-input {
  --padding-start: 10px;
  color: #000;
  font-size: 16px;
  background: #ffffff;
  border-radius: 12px;
  height: 100%; /* El input ocupa toda la altura del ion-item */
}

/* Eliminar el borde de ion-item */
ion-item {
  --border-color: transparent;
  --background: transparent;
}

/* Estilo al hacer foco en los elementos */
ion-item.ion-focused {
  --highlight-color-focused: #ffd700;
  --highlight-height: 3px;
}

/* Estilo del texto de los placeholders */
::placeholder {
  color: #999;
  opacity: 1;
  font-size: 15px;
}
