<ion-header>
  <ion-toolbar>
    <ion-title>Detalles de la Reserva</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="reservationDetails">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resumen de la Reserva</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Fecha de Entrada:</strong> {{ reservationDetails.checkInDate }}</p>
        <p><strong>Fecha de Salida:</strong> {{ reservationDetails.checkOutDate }}</p>
        <p><strong>Número de Huéspedes:</strong> {{ reservationDetails.guests }}</p>
        <p><strong>Tipo de Habitación:</strong> {{ reservationDetails.roomType }}</p>
        <p><strong>Desayuno:</strong> {{ reservationDetails.breakfast ? 'Incluido' : 'No Incluido' }}</p>
        <p><strong>Transporte:</strong> {{ reservationDetails.transport ? 'Incluido' : 'No Incluido' }}</p>
        <p><strong>Costo Total:</strong> {{ reservationDetails.totalPrice | currency: 'CLP' }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botón para cancelar reserva -->
  <div class="button-container">
    <ion-button expand="full" class="cancel-button" (click)="cancelReservation()">
      <ion-icon slot="start" name="close-circle"></ion-icon>
      Cancelar Reserva
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="book-room" [routerLink]="['/book-room']">
          <ion-icon name="alarm-outline"></ion-icon>
          <ion-label>Reservar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="reservations" [routerLink]="['/reservations']">
          <ion-icon name="document-text-outline"></ion-icon>
          <ion-label>Reservaciones</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile" [routerLink]="['/profile']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="logOut()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
