/* Estilo para el footer */
ion-footer {
    background-color: #ffd700; /* Color de fondo dorado para el footer */
}

/* Estilo para el toolbar del footer */
ion-toolbar {
    --background: #ffd700; /* Color de fondo dorado */
    color: #273746; /* Color del texto en oscuro */
    text-align: center; /* Centramos el texto */
}

/* Estilo para los títulos en el footer */
ion-title {
    color: #273746; /* Color del texto del título en oscuro */
    font-weight: bold; /* Negrita para el texto */
}

/* Estilo para el tab bar dentro del footer */
ion-tab-bar {
    --background: #ffd700; /* Fondo dorado para el tab bar */
    --color-selected: #273746; /* Color del texto seleccionado en oscuro */
    --color: #000; /* Color del texto no seleccionado */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

/* Estilo para los botones en el tab bar */
ion-tab-button {
    --color-selected: #273746; /* Color oscuro cuando está seleccionado */
    --color: #000; /* Color negro para el texto no seleccionado */
}

/* Estilo para los íconos en el tab bar */
ion-icon {
    font-size: 24px; /* Tamaño de los íconos */
}

/* Estilo para los textos en los íconos de tab bar */
ion-label {
    font-weight: bold; /* Negrita para el texto de las etiquetas */
}